
  @import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');
*{
  box-sizing: border-box;
}
body {
  margin: 0px;
  font-family: 'Ubuntu Mono', monospace;
}
.shadow {
  box-shadow: 0px 1px 5px 1px rgba(50, 50, 50, .3), 0px 1px 5px 1px rgba(50, 50, 50, .3);
}
.bg-lightgray {
  background-color: rgb(246, 246, 246);
}
.bg-black {
  background-color: rgb(48, 47, 47);
}
.bg-red {
  background-color: rgb(255, 84, 68);
}
.bg-cyan {
  background-color: rgb(30, 194, 164);
}
.bg-purple {
  background-color: rgb(170, 45, 182);
}
.bg-blue {
  background-color: rgb(39, 139, 224);
}
.row {
  display: flex;
}
.width33 {
  flex-basis: 33.33%;
}
.width50 {
  flex-basis: 50%;
}
img {
  width: 100%;
}
header {
  height: 100vh;
}

h1,
h2 {
  text-transform: uppercase;
}
nav {
  justify-content: center;
  align-items: center;
  font-size: 15px;
  width: 90%;
  margin: 0px auto;
}
ul li i{
  margin-left: 10px;
}
nav p {
  font-size: 15px;
  font-weight: bold;
  margin: 0;
  text-transform: uppercase;
}
nav ul {
  list-style-type: none;
  justify-content: flex-end;
  margin: 0px;
  font-size: 15px;
 
}
nav .row li:not(.last-child) {
  margin-right: 20px;
}

ul li:not(.special) {
  padding: 20px 0;
}
.headerText {
  text-transform: uppercase;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95%;
}
.headerText button {
  margin-top: 20px;
  padding: 10px 20px;
  text-transform: uppercase;
  color: white;
}
.dropMenu {
  align-content: end;
  position: relative;
  display: none;
}
.dropMenu div {
  width: 25px;
  height: 5px;
  background-color: black;
  margin: 0px 0px 3px auto;
  border-radius: 5px;
}
.dropContent {
  position: absolute;
  display: none;
  padding: 0px;
  z-index: 1;
  margin-top: 20px;
}
.dropContent li {
  padding: 10px;
  display: block;
  color: black;
  background-color: white;
  text-align: center;
}

.home:hover .homeDrop {
  display: block;
}
.portfolio:hover .portfolioDrop {
  display: block;
}
.blog:hover .blogDrop {
  display: block;
}

a {
  text-decoration: none;
  color: black;
}
.firstSection {
  padding: 70px 100px;
}
.firstSection .box {
  flex-basis: 25%;
  margin: 15px;
  padding: 20px 1px;
  border-radius: 5px;
  text-align: center;
  color: white;
}
.firstSection .box p:first-child {
  font-size: 30px;
  margin-bottom: 0px;
  margin-top: 15px;
}
.firstSection .box p:last-child {
  text-transform: uppercase;
  margin-top: 0px;
}
.secondSection {
  padding-bottom: 150px;
  text-transform: uppercase;
}
.Header {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 70px;
}

.secondSectionNavigation {
  justify-content: center;
}
.secondSectionNavigation button:not(last-child) {
  margin-right: 10px;
}
.secondSectionNavigation button {
  padding: 5px 15px;
}
.secondSectionNavigation button:first-child {
  color: white;
}
.firstRow .contentBox{
  margin-bottom: 30px;
}
.contentBox {
  background-color: white;
  height: 100%;
  text-align: center;
}
.rowContainer .contentBox:not(:last-child) {
  margin-right: 30px;
}
.rowContainer {
  width: 80%;
  margin: 0 auto;
}
.rowContainer .contentBox:hover {
  /* outline: 2px solid black; */
  border: 2px solid black;
}
.firstRow .contentBox:not(:last-child):hover{
  margin-bottom: 28px;
}

.contentBox h2 {
  text-align: center;
  font-size: 15px;
  display: inline-block;
}

.Header h2 {
  text-transform: uppercase;
}
.width33 li {
  text-transform: uppercase;
  margin-bottom: 15px;
}
.thirdSectionContent ul {
  list-style-image: url(./images/arrow.png);

}
.thirdSectionContent {
  width: 80%;
  margin: 0 auto 100px;
}
.thirdSectionContent ul {
  line-height: 25px;
  
}
.thirdSectionContent div:not(:last-child) {
  margin-right: 40px;
}
.fontAwsomeSection {
  background-color: #464646;
  padding-bottom: 70px;
}
.fontAwsomeSection .Header {
  color: white;
}
.icons {
  color: white;
  justify-content: center;
  align-content: center;
  font-size: 25px;
}
.icons a {
  color: white;
}
.icons a:not(:last-child) {
  margin-right: 15px;
}
.fontAwsomeSection .Header {
  padding-bottom: 0px;
}
button {
  border: none;
  border-radius: 5px;
}
button:hover {
  cursor: pointer;
  background-color: rgb(45, 45, 45);
  color: white;
}
.icons a:hover {
  color: black;
}
footer {
  padding: 10px 40px;
  font-size: 10px;
  background-color: black;
  color: white;
}
footer div {
  flex-basis: 50%;
}
footer :nth-child(2) {
  text-align: right;
}
@media (max-width: 426px) {
  nav{
    padding: 10px 0;
  }
  .firstSection {
    flex-direction: column;
    padding: 60px 80px;
  }
  .headerText {
    padding: 0px 76px;
    text-align: center;
  }
  nav .width50:nth-child(2) {
    display: none;
  }
  .dropMenu {
    display: block;
  }
  .secondSectionNavigation {
    flex-wrap: wrap;
  }
  .secondSectionNavigation button {
    margin-bottom: 15px;
  }
  .thirdSectionContent div:last-child {
    display: none;
  }
  .thirdSectionContent div {
    flex-basis: 50%;
    line-height: 30px;
    margin-right: 70px;
  }
  .thirdSectionContent div:nth-child(2) {
    margin-right: 0px;
    
  }
  .rowContainer .contentBox:not(:last-child) {
    margin-right: 0px;
}
.firstRow .contentBox{
  margin-bottom: 0px;
}
  .rowContainer {
    flex-direction: column;
   
  }
  .rowContainer .contentBox{
    margin-bottom: 20px;
  }
 .thirdSection .Header p{
  width: 80%;
  margin: 16px auto;
 }
}
