@use "../abstracts/mixins" as mix;
@use "../abstracts/variables" as var;
@use "sass:math";

.art-illustration {
  .wrapper .row:not(:last-child) {
    margin-bottom: var.$gutter-base;
  }
 
  .row {
    @extend %flex-tablet-responsive;
    :first-child{
        margin-right: math.div(var.$gutter-base, 2);
    }
    .bg-img-1 {
      background-image: url("../images/coast.jpg");
    }
    .bg-img-2 {
      background-image: url("../images/island.jpg");
    }
    .bg-img-3 {
      background-image: url("../images/balloon.jpg");
    }
    .bg-img-4 {
      background-image: url("../images/mountain.jpg");
    }
    .flex-basis-40 {
      @extend %flex-basis-40;
      height: var.$gutter-base * 5;
    }
    .flex-basis-60 {
      @extend %flex-basis-60;
      height: var.$gutter-base * 5;
    }
  }
  @include mix.tablet-styles{
    
    .row{
        display: block;
        :first-child{
            margin-right: 0;
        }
        :not(:last-child){
            margin-bottom:  var.$gutter-base;
        }
        .flex-basis-40 , .flex-basis-60{
            height: var.$gutter-base * 10;
            width: 70%;
            margin-left: auto;
            margin-right: auto;
            
        }
    }
  }
}
