@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;
@use "sass:math";


.newsletter{
    background-color: var.$background-color-secondary;
    section{
        @extend %flex-tablet-responsive;
        justify-content: center;
        align-items: center;
        input{
            width: 40%;
            padding: math.div(var.$gutter-base,1.5) math.div(var.$gutter-base,5);
            height: var.$gutter-base;
            margin-right: math.div(var.$gutter-base,2);
        }
        button {
            height: var.$gutter-base;
            padding: math.div(var.$gutter-base,1.3) var.$gutter-base;
            display: flex;
            justify-content: center;
            align-items: center;
            
            
        }
    }
    @include mix.tablet-styles{
        section{
            input{
                width: 70%;
                margin-right: 0;
                margin-bottom: math.div(var.$gutter-base,2);
            }
        }
    }
    @include mix.mobile-l-styles{
        section{
            input{
                width: 90%;
                padding: math.div(var.$gutter-base,1) math.div(var.$gutter-base,3);
                font-size: var.$font-size-big;
            }
            button{
                width: 70%;
                padding: var.$gutter-base*1.5 var.$gutter-base;
                font-size: var.$font-size-big;
            }
        }
    }
}
