@use 'sass:math';

@function rem-calc($size) {
  @return (math.div($size, 16)) * 1rem;
}

// Font settings
$font-family-base:           'Open Sans', sans-serif;

$font-size-small:            rem-calc(14);
$font-size-base:             rem-calc(16);
$font-size-medium:           rem-calc(18);
$font-size-big:              rem-calc(25);
$font-size-bigger:           rem-calc(35);

$line-height-base:           1.5;

$font-weight-normal:         400;
$font-weight-bold:           700;

// Size settings
$gutter-base:                rem-calc(30);

// Color settings
$text-color-base:            #000;
$text-color-primary:         #fff;
$text-color-secondary:       #414a50;

$background-color-base:      #FFF;
$background-color-secondary: #f7f7f7;
$background-color-tertiary:  #2690e5;
$background-color-footer:    #414a4f;
